<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue-globalize example</title>
    </head>
    <body>
        <div id="app">
            <select v-model="language">
                <option v-for="language in languages" :value="language.locale">
                    {{ language.name }}
                </option>
            </select>

            <div v-show="$getGlobalize()">

                <p>{{ t('test') }}</p>

                <p>{{ now | datetime }}</p>

                <p>{{ t('likeIncludingMe', 0) }}</p>
                <p>{{ t('likeIncludingMe', 1) }}</p>
                <p>{{ t('likeIncludingMe', 2) }}</p>
                <p v-text="t('likeIncludingMe', 3)">not loaded</p>

                <p>{{ t('message-1', {
                    currency: this.format.currency(69900, 'USD'),
                    date: this.format.date(new Date()),
                    number: this.format.number(12345.6),
                    relativeTime: this.format.relativeTime(-2, 'month'),
                }) }}</p>

                <p>{{ 0.65 | percent }}</p>
                <p>{{ 65 | unit('second') }}</p>
                <p>{{ this.format.dateskeleton(new Date(), "E") }}</p>
                <p>{{ this.format.dateraw(new Date(), "E") }}</p>
                <p>{{ this.format.dateskeleton(new Date(), "EEEE") }}</p>
                <p>{{ this.format.dateraw(new Date(), "EEEE") }}</p>
                <p>{{ this.format.dateskeleton(new Date(), "GyMMMd") }}</p>
                <p>{{ this.format.dateraw(new Date(), "GyMMMd") }}</p>

                <button v-on:click="show">Click me</button>
                <div v-if="shown && $globalizeCategoryLoaded('additional')">{{ t('additional') }}</div>

            </div>
        </div>
        <script src="build/build.js"></script>
    </body>
</html>
